body {
    background-color: #eee
}

h1 {
    font-size: 30px;
    padding: 16px;
}

img {
    width: 100%;
    padding: 16px;
}

p {
    margin: 8px;
    font-family: serif;
}

.container {
    width: 100%;
    max-width: 800px;
    padding: 16px;
    margin: auto;
}

.row {
    margin: 0px;
}

.col {
    padding: 0 8px;
}

.card {
    padding: 16px 8px;
}

.card-top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}

.card-body {
    border-radius: 0;
    margin-bottom: -1px;
}

.card-bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card-additional {
    margin-top: 16px;
    background-color: #f7f7f9;
}
